/* 
Mobile screen size limit.
This is used to define responsive behaviour.

*/
$mobile: 1024px;

/* 
> Change this value for debug purposes.
This is used inside mixins to highlight blocs. (see mixins)
*/
$global-debug: false;



/** MIXINS **/

@mixin for-mobile-only {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin for-debug($color, $name: '', $debug: $global-debug) {
    @if $debug {
        outline: solid 3px $color;
        @if $global-debug {
            background-color: $color;
        }
        &::before {
            z-index: 1000;
            position: absolute;
            content: $name;
            color: $color;
            background-color: white;
            justify-self: baseline;
        }
    }
}

@mixin full-size {
    width: 100%;
    height: 100%;
}