@use "@styles" as *;

.container {
    flex: 1;
    @include full-size();
    @include  for-debug(lightblue, 'search-bar component');
    display: flex;
    justify-content: flex-start;
    align-items: center;
}